# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
obj

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Compiled Files
*.ini
# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pdb
System.Buffers.xml
System.Buffers.dll
SharpDX.xml
SharpDX.dll
SharpDX.Desktop.dll
PoeHUD.exe.config
PoeFilterParser.dll
Newtonsoft.Json.xml
ImGui.NET.xml
ImGui.NET.dll
Gma.System.MouseKeyHook.dll
System.Runtime.CompilerServices.Unsafe.dll
System.Numerics.Vectors.xml
System.Numerics.Vectors.dll
SharpDX.Direct3D9.xml
SharpDX.Direct3D9.dll
Newtonsoft.Json.dll
Trinet.Core.IO.Ntfs.xml
Trinet.Core.IO.Ntfs.dll
System.Runtime.CompilerServices.Unsafe.xml
SharpDX.Mathematics.xml
SharpDX.Mathematics.dll
PoeHUD.exe
Antlr4.Runtime.xml
Antlr4.Runtime.dll
SharpDX.Desktop.xml
